<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebCamCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <WebCamCapture.Properties.Settings>
      <setting name="SelectedDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="SelectedMode" serializeAs="String">
        <value />
      </setting>
      <setting name="FileDir" serializeAs="String">
        <value />
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Verdana, 12pt</value>
      </setting>
      <setting name="WaterText" serializeAs="String">
        <value>True</value>
      </setting>
    </WebCamCapture.Properties.Settings>
  </userSettings>
</configuration>